# Lokale Python-Artefakte
__pycache__/
*.pyc

# Lokale Laufzeitdaten blockieren (WICHTIG)
Output/
*.csv

# Systemdateien (falls du auf Windows/Mac unterwegs bist)
.DS_Store
Thumbs.db

# Mock-Daten und temporäre Testfiles
mock_phaidra.json
phaidra_raw_output.json

